cf:
  butlers: []
  sslValidationSkipped: false

spring:
  application:
    name: cf-hoover
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
  threads:
    virtual:
      enabled: true
  http.codecs.max-in-memory-size: 512000000

eureka:
  client:
    serviceUrl:
      defaultZone: ${vcap.services.hooverRegistry.credentials.uri:http://localhost:8761}/eureka/

management:
  info:
    build:
      enabled: true
    dependencies:
      enabled: true
    env:
      enabled: true
    git:
      mode: full
    java:
      enabled: true
    os:
      enabled: true
    sbom:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,httpexchanges,loggers,metrics,prometheus,sbom
  endpoint:
    health:
      show-details: always

